@using zkooWebserver.ViewModels.Appointments;
@model CreateViewModel;

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="Appointment.Patient" class="control-label"></label>
                    <input asp-for="Appointment.Patient" class="form-control" />
                    <span asp-validation-for="Appointment.Patient" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Appointment.Doctor" class="control-label"></label>
                    <input asp-for="Appointment.Doctor" class="form-control" />
                    <span asp-validation-for="Appointment.Doctor" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Appointment.Date" class="control-label"></label>
                    <input asp-for="Appointment.Date" class="form-control" />
                    <span asp-validation-for="Appointment.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Management" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}