services:
  server:
    build:
      context: .
      target: final
    environment:
     "ASPNETCORE_URLS": "https://+;http://+"
     "ASPNETCORE_Kestrel__Certificates__Default__Password": "<password>"
     "ASPNETCORE_Kestrel__Certificates__Default__Path": "/https/aspnetapp.pfx"
    ports:
      - 80:80
      - 443:443
    volumes:
      - ~/.aspnet/https:/https